 <div class="text" [ngClass]="{'sender-background' : isFromSender}">
  <p>{{ message.text }}</p>
  <!-- <p class="timestamp"> {{ message.timeStamp | date:'dd/MM/y H:mm' }}</p> -->
  <p class="timestamp" > {{ message.timeStamp | date: 'HH:mm' }}
    <ion-icon class="first-icon" name="md-checkmark" [ngClass]="{'already-read' : alreadyRead}" *ngIf="isFromSender"></ion-icon>
    <ion-icon class="second-icon" name="md-checkmark" [ngClass]="{'already-read' : alreadyRead}" *ngIf="isFromSender"></ion-icon>
  </p>

 
</div>